node_modules/
.next/
.cache/
.DS_Store
.venv/
pnwer_ai/__pycache__/
pnwer_ai/**/*.pyc
pnwer_ai/.next/
uploads/
chroma_db*/
ocr_text_output/
.env.local
*.pyc
*.pdf
*.gz
*.zip
*.log
pnwer_ai/pnwer_reports/node_modules/
node_modules/
